.counties-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.county-name {
    padding-left: 10px;
    padding-right: 10px;
}

.county-image {
    padding-left: 10px;
    padding-right: 10px;
}