.listing-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.listing-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.click-link {
    text-decoration: none;
    text-decoration-color: transparent;
}

.delete {
    color: red;
}

.alert-success {
    color: green;
    background-color: lightgreen;
    max-width: max-content;
    padding: 5px 5px;
}

.alert-warning {
    color: brown;
    background-color: yellow;
    max-width: max-content;
    padding: 5px 5px;
}