.listing-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.listing-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.click-link {
    text-decoration: none;
    text-decoration-color: transparent;
}